.Dark1{
    background-color:#000000;
    color:white;
}
.Light1{
    background-color:white;
    color:black;
}
.Dark{
    background-color:#000000;
    color:white;
}
.Light{
    background-color:white;
    color:black;
}
.link:hover{
    text-decoration:underline;
}
.red1{
    background-image:url("https://discovery.sndimg.com/content/dam/images/discovery/fullset/2020/4/2/nightsky2_getty.jpg.rend.hgtvcom.616.411.suffix/1585862428885.jpeg");
    border-radius:30px;
    margin-left:10px;
    margin-right:10px;
}
.border{
    border-width:3px;
    border-style:solid;
    border-color:green;
    border-radius:4px;
}
.fixed{
    position:fixed;
}
.Bimg1{
    background-image:url("https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png");
    height:45%;
    width:604px;
}
label{
    position: fixed;
}
.Bimg2{
    background-image:url("https://media.istockphoto.com/videos/blue-neon-light-abstract-visual-geometry-motion-graphic-technology-video-id1179960209?s=640x640");
}
.obstacle{
    position: absolute;
    margin-left:270px;
}
.tooltipped{
    color:white;
}
.Bimg3{
    background-image:url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
    width:50%;
}
.grid{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.row1{
    display:flex;
    height:50px;
    grid-row-start:1;
    border-bottom-width: 5px;
    border-bottom-style:solid;
    border-bottom-color: black;
}
.row2{
    display:flex;
    height:50px;
    grid-row-start:2;
    border-bottom-width: 5px;
    border-bottom-style:solid;
    border-bottom-color: black;
}
.row3{
    display:flex;
    height:50px;
    grid-row-start:3;
}
.col1{
    display:flex;
    width:50px;
    grid-column-start:7;
    border-right-width: 5px;
    border-right-style:solid;
    border-right-color: black;
}
.col2{
    display:flex;
    width:50px;
    grid-column-start:8;
    border-right-width: 5px;
    border-right-style:solid;
    border-right-color: black;
}
.col3{
    display:flex;
    width:50px;
    grid-column-start:9;
}

.grid2{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    height:78%;
}

.r1{
    display:flex;
    height:50px;
    grid-row-start:1;
    border-width: 5px;
    border-style:solid;
    border-color: black;
}
.r2{
    display:flex;
    height:50px;
    grid-row-start:2;
    border-width: 5px;
    border-style:solid;
    border-color: black;
}
.r3{
    display:flex;
    height:50px;
    grid-row-start:3;
    border-width: 5px;
    border-style:solid;
    border-color: black;
}

.r4{
    display:flex;
    height:50px;
    grid-row-start:4;
    border-width: 5px;
    border-style:solid;
    border-color: black;
}
.r5{
    display:flex;
    height:50px;
    grid-row-start:5;
    border-width: 5px;
    border-style:solid;
    border-color: black;
}
.r6{
    display:flex;
    height:50px;
    grid-row-start:6;
    border-width: 5px;
    border-style:solid;
    border-color: black;
}
.r7{
    display:flex;
    height:50px;
    grid-row-start:7;
}
.c1{
    display:flex;
    width:50px;
    grid-column-start:1;
    border-width: 5px;
    border-style:solid;
    border-color: black;
}
.c2{
    display:flex;
    width:50px;
    grid-column-start:2;
    border-width: 5px;
    border-style:solid;
    border-color: black;
}
.c3{

    display:flex;
    width:50px;
    grid-column-start:3;
    border-width: 5px;
    border-style:solid;
    border-color: black;
}

.c4{
    display:flex;
    width:50px;
    grid-column-start:4;
    border-width: 5px;
    border-style:solid;
    border-color: black;
}
.c5{
    display:flex;
    width:50px;
    grid-column-start:5;
    border-width: 5px;
    border-style:solid;
    border-color: black;
}
.c6{

    display:flex;
    width:50px;
    grid-column-start:6;
    border-width: 5px;
    border-style:solid;
    border-color: black;
}

.c7{

    display:flex;
    width:50px;
    grid-column-start:7;
    border-width: 5px;
    border-style:solid;
    border-color: black;
}